<div id="index_link">
    <div class="container_32">
        <div class="index_link_server">
            <div class="index_link_server_text">12小时全国服务热线</div>
            <div class="index_link_server_tel">0631-5206696</div>
            <span class="index_link_server_button"><a target="_blank" href="tencent://message/?uin=116094319&Site=www.maizhisen.com&Menu=yes">12小时在线客服</a></span>
        </div>
        <div class="index_link_block">
            <h4>关于迈智森</h4>
            <ul>
                <li><a href="<%linkurl("about")%>" title="" >公司介绍</a></li>
                <li><a href="<%linkurl("news_list",56)%>" title="" >新闻公告</a></li>
                <li><a href="<%linkurl("case")%>" title="" >服务客户</a></li>
            </ul>
        </div>
        <div class="index_link_block">
            <h4>业务服务</h4>
            <ul>
                <li><a href="<%linkurl("business")%>" title="" >企业网站</a></li>
                <li><a href="<%linkurl("webchat_site")%>" title="" >微网站</a></li>
                <li><a href="<%linkurl("e-commerce")%>" title="" >企业商城</a></li>
                <li><a href="<%linkurl("software_custom")%>" title="" >B/S软件定制开发</a></li>
            </ul>
        </div>
        <div class="index_link_block">
            <h4>自主技术研发</h4>
            <ul>
                <li><a href="<%linkurl("business")%>" title="" >企业网站管理系统</a></li>
                <li><a href="<%linkurl("business")%>" title="" >微网站管理系统</a></li>
                <li><a href="<%linkurl("business")%>" title="" >企业商城管理系统</a></li>
            </ul>
        </div>
        <!--<div class="index_link_block">
            <h4>联系我们</h4>
            <ul>
                <li><a href="/" title="" >联系方式</a></li>
                <li><a href="/" title="" >在线地图</a></li>
            </ul>
        </div>-->
    </div>
</div>
<footer id="footer">
    <div class="container_32"> <span class="footer_side_nav"><a href="<%linkurl("law")%>" title="" >法律声明</a>|<a href="<%linkurl("privacy")%>" title="" >隐私保护</a>|<a href="<%linkurl("about")%>" title="" >联系我们</a></span> <span>版权所有 © 威海迈智森网络科技有限公司 2014-2017 保留一切权利  鲁ICP备15027609号</span></div>
</footer>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?cb84d62d88ebe184a35b3b3e4ee7da99";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https'){
   bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
  }
  else{
  bp.src = 'http://push.zhanzhang.baidu.com/push.js';
  }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>