<header id="header">
    <div class="container_32">
        <div class="side_nav"> <a href="/" title="" >客户入口</a>|<a href="/" title="" >服务支持</a> </div>
        <h1 class="logo"><a href="/" title="" >威海迈智森网络</a></h1>
        <nav id="navigation" class="global_navigation"> <a href="<%linkurl("business")%>" title="企业网站" >企业网站</a> <a href="<%linkurl("webchat_site")%>" title="微网站" >微网站</a> <a href="<%linkurl("e-commerce")%>" title="企业商城" >企业商城</a> <a href="<%linkurl("webchat_custom")%>" title="微信开发" >微信开发</a> <a href="" title="微信小程序开发" >微信小程序开发</a> <a href="<%linkurl("software_custom")%>" title="B/S软件定制开发" >B/S软件定制开发</a> </nav>
    </div>
</header>