<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<link rel="icon" href="favicon.ico">
<meta name="author" content="威海迈智森网络科技有限公司">
<meta content="企业网站建设,微网站建设,企业商城建设,微信开发,企业网站托管,企业商城运营,微信运营,威海迈智森网络" name="keywords">
<meta content="威海迈智森网络科技有限公司是一家技术驱动型互联网科技公司，公司拥有自主知识产权技术，有超过12年丰富的实战经验。以企业网站建站、企业商城建设、微网站建设、微信开发、B/S软件开发服务为核心业务，专注于技术研发、技术安全领域，为企业建立一体化智能云平台，深入挖掘互联网推广、物联网、移动互联网潜力，以达到企业价值最大化。" name="description">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>威海网站建设 - 微网站建设 - 威海商城建设 - 威海微信开发 - 威海软件开发 - 威海迈智森网络科技有限公司</title>
<%template src="_meta.html"%>
</head>

<body>
<%template src="_header.html"%>
<div class="newscase_group">
  <div class="news_case_img img1"><img src="/templates/main/images/fpcase1.jpg"></div>
  <div class="news_case_img img2"><img src="/templates/main/images/fpcase2.jpg"></div>
  <div class="news_case_img img3"><img src="/templates/main/images/fpcase3.jpg"></div>
  <div class="news_case_img img4"><img src="/templates/main/images/fpcase4.jpg"></div>
</div>
<div class="news_technology">
  <h4>此项目相关技术</h4>
  <div class="technology_group">
    <section id="busi_advantage" class="blue">
      <ul>
        <li ><i class="iconfont">&#xe62a;</i>
          <h5>视觉焦点</h5>
          <p>网站整体页面设计以“视觉焦点”方式进行规划布局。</p>
        </li>
        <li><i class="iconfont">&#xe605;</i>
          <h5>html5+css3+js</h5>
          <p>前端整体采用html5+css3+js驱动，兼容多终端设备。</p>
        </li>
        <li><i class="iconfont">&#xe628;</i>
          <h5>图片精灵</h5>
          <p>图片采用“图片精灵”技术减少HTTP请求数，让网页打开速度更快</p>
        </li>
        <li ><i class="iconfont">&#xe646;</i>
          <h5>深度压缩</h5>
          <p>代码经过深度压缩技术，减少页面被访问时的加载量。</p>
        </li>
        <li><i class="iconfont">&#xe669;</i>
          <h5>H1~H6</h5>
          <p>前端代码上合理利用H1~H6相关标签设置相关的关键词。</p>
        </li>
        <li><i class="iconfont">&#xe641;</i>
          <h5>静态化</h5>
          <p>网站地址采用“静态化”技术，使网站页面更易被收录。</p>
        </li>
        <li><i class="iconfont">&#xe622;</i>
          <h5>ASP.NET+MSSQL</h5>
          <p>整体架构采用ASP.NET MVC + MSSQL 微软系企业级架构方案。</p>
        </li>
        <li ><i class="iconfont">&#xe611;</i>
          <h5>强加密技术</h5>
          <p>网站整体架构的加密技术采用SHA256 强加密技术。</p>
        </li>
        <li><i class="iconfont">&#xe72e;</i>
          <h5>URL重写</h5>
          <p>网站地址采用”URL重写“技术，使页面更易于被收录。</p>
        </li>
      </ul>
    </section>
  </div>
</div>
<div class="news_content">
  <h4>项目介绍</h4>
  <p>威海扶贫直通车是威海扶贫的微信公众号,公众号内置的手机微网站包含：定点扶贫、五通十有、精准扶贫直通车、企业帮扶、公益工程、微帮扶、微心愿、帮帮卖等板块。</p>
  <p>手机微网站是基于微信内的手机网站，绑定微信菜单实现访问，用于品牌形象展示、信息交互、电话留言与定位等其他功能。威海扶贫直通车手机微网站，前端架构采用HTML5+CSS3+jS，可以实现一些过去无法实现的丰富的WEB应用程序的体验，兼容多终端设备，代码干练精简，响应速度快、网站流畅度高、利于搜索引擎收录。设计排版上采用便捷式设计思路，在细节上深入贴合用户的掌上浏览习惯，让用户在使用上更加舒适、便捷。后端代码整体架构采用ASP.NET MVC + MSSQL 微软系企业级架构方案，网站整体架构的加密技术采用SHA256 强加密技术。让我们的站点更稳定、安全、高性能。</p>
  <p>后期服务包含：<span class="color1">免费系统升级</span><span class="color2">CDN加速</span><span class="color3">页面打开速度检测</span><span class="color4">网站安全检查</span><span class="color5">域名服务</span><span class="color6">空间服务</span><span class="color7">备案服务</span><span class="color8">7x12小时客服热线</span><span class="color9">网站后台培训</span>,网站系统平台不定期会进行相应的功能与性能进行升级更新，保证系统永远先进。</p>
  <div class="news_code"> <img src="/templates/main/images/fp_code.jpg"> </div>
</div>
<%template src="_footer.html"%>
</body>
</html>
