<!-- 代码 开始 -->
<div class="drawer-main drawer-default">
  <nav class="drawer-nav" role="navigation">
    <div class="drawer-brand">
    </div>
    <p class="drawer-nav-title">菜单</p>
    <ul class="drawer-nav-list">
    <li><a href="<%linkurl("index")%>">首页</a></li>
      <li><a href="<%linkurl("my_service","service1")%>">服务项目</a></li>
      <li><a href="<%linkurl("my_case")%>">我们的客户</a></li>
      <li><a href="<%linkurl("new_trend",52)%>">新趋势</a></li>
    </ul>
  </nav>
</div>
<script src="<%templateskin%>/js/iscroll.js"></script>
<script src="<%templateskin%>/js/jquery.drawer.min.js"></script>
<script>
	$(document).ready(function(){
	$('.drawer').drawer();
	$('.js-trigger').click(function(){
	  $('.drawer').drawer("open");
	});
	});
</script> 
<!--此代码是手机端代码与PC站不是一个
--><script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?17c88a4bd1dfd46788df644659a345b2";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>