<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>迈智森网络科技</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="author" content="迈智森网络科技">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
<%template src="_meta.html"%> 
</head>
<body class="drawer drawer-right">
<%template src="_header.html"%> 
<%template src="_left_nav.html"%> 
  <div class="public_header_bottom1"></div>
  <div class="my_service_b">
     <div class="public_title">
      <h3>我们的客户</h3>
      <h4>Our customers</h4>
    </div>
    <div class="case_slogin">
      <span>为客户打造高质量产品<br />在市场中赢得更高的价值</span>
    </div>
    <div class="case_list">

       <div class="cali"><img src="/templates/mobile/img/index_case1x.jpg" alt=" 金猴"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case2x.jpg" alt="威海卫"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case4x.jpg" alt="望海集团"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case21x.jpg" alt="鲁北集团"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case22x.jpg" alt="外太空机器人"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case23x.jpg" alt="海飞游艇"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case24x.jpg" alt="威海扶贫办"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case25x.jpg" alt="威海城投"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case5x.jpg" alt="联桥国际"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case6x.jpg" alt="城建集团"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case7x.jpg" alt="盛世集团"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case8x.jpg" alt="北大培文"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case9x.jpg" alt="博锐化机"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case10x.jpg" alt="山海礼品城"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case11x.jpg" alt="美居装饰"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case12x.jpg" alt="泰迪轮胎"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case13x.jpg" alt="乐溯"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case14x.jpg" alt="大健康中国"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case15x.jpg" alt="铭实电商"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case16x.jpg" alt="鼎盛红木"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case17x.jpg" alt="晟唐奕丰"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case18x.jpg" alt="金佰特"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case20x.jpg" alt="才富人才服务"></div>
       <div class="cali"><img src="/templates/mobile/img/index_case3x.jpg" alt="青岛木材协会"></div>
    
    </div>
     <div class="calimore">... ...</div>
 <div class="bottom3"></div>
  </div>

</body>
</html>