<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>迈智森网络科技</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="author" content="迈智森网络">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
<%template src="_meta.html"%> 
</head>
<body class="drawer drawer-right">
<%template src="_header.html"%> 
<%template src="_left_nav.html"%> 
  <div class="public_header_bottom1"></div>
  <div class="my_service_b">
     <div class="public_title">
      <h3>服务项目</h3>
      <h4>Service project</h4>
    </div>
    <div class="in_service_pr u-1of4">
      <div class="insepr inseprny"><a href="<%linkurl("my_service","service1")%>">企业网站</a></div>
      <div class="insepr inseprny"><a href="<%linkurl("my_service","service2")%>">微网站</a></div>
      <div class="insepr inseprny"><a href="<%linkurl("my_service","service3")%>">企业商城</a></div>
      <div class="insepr inseprny"><a href="<%linkurl("my_service","service4")%>">微信开发</a></div>
    </div>
    <div class="in_service_pr2 u-1of3">
      <div class="insepr2 inseprny"><a href="<%linkurl("my_service","service5")%>">APP开发</a></div>
      <div class="insepr2 inseprny"><a href="<%linkurl("my_service","service6")%>">微信小程序开发</a></div>
    </div>
    <div class="in_service_pr2">
      <div class="insepr3 inseprny"><a href="<%linkurl("my_service","service7")%>">B/S软件定制开发</a></div>
    </div>
    <!--<div class="myservice_nav">
      <div class="myse current"><a href=""> 企业网站</a></div>
      <div class="myse"><a href=""> 微网站</a></div>
      <div class="myse"><a href=""> 企业商城</a></div>
      <div class="myse"><a href=""> 微信开发</a></div>
    </div>
    <div class="myservice_nav">
    <div class="myse myse05"><a href=""> APP开发</a></div>
      <div class="myse"><a href=""> 微信小程序开发</a></div>
      <div class="myse"><a href=""> B/S软件定制开发</a></div>
</div>-->
<div class="my_service_title">
   <span>{model.title}</span>
</div>
<div class="my_service_group">
{model.content}
</div>

 <div class="bottom3"></div>
  </div>
 

</body>
</html>