<?xml version="1.0" encoding="utf-8"?>
<urls>
  <rewrite name="index" type="index" page="index.aspx" inherit="DTcms.Web.UI.Page.index" templet="index.html">
    <item path="index.aspx" pattern="index.aspx" />
  </rewrite>
  <rewrite name="search" type="other" page="search.aspx" inherit="DTcms.Web.UI.Page.search" templet="search.html" />
  <rewrite name="error" type="other" page="error.aspx" inherit="DTcms.Web.UI.Page.error" templet="error.html" />
  <rewrite name="cart" type="other" page="cart.aspx" inherit="DTcms.Web.UI.Page.cart" templet="cart.html" />
  <rewrite name="shopping" type="other" page="shopping.aspx" inherit="DTcms.Web.UI.Page.shopping" templet="shopping.html" />
  <rewrite name="payment" type="other" page="payment.aspx" inherit="DTcms.Web.UI.Page.payment" templet="payment.html" />
  <rewrite name="login" type="other" page="login.aspx" inherit="DTcms.Web.UI.Page.login" templet="login.html" />
  <rewrite name="oauth_login" type="other" page="oauth_login.aspx" inherit="DTcms.Web.UI.Page.oauth_login" templet="oauth_login.html" />
  <rewrite name="register" type="other" page="register.aspx" inherit="DTcms.Web.UI.Page.register" templet="register.html" />
  <rewrite name="repassword" type="other" page="repassword.aspx" inherit="DTcms.Web.UI.Page.repassword" templet="repassword.html" />
  <rewrite name="usercenter" type="other" page="usercenter.aspx" inherit="DTcms.Web.UI.Page.usercenter" templet="usercenter.html">
    <item path="user/center/{0}.aspx" pattern="user/center/(\w+).aspx" querystring="action=$1" />
  </rewrite>
  <rewrite name="usermessage" type="other" page="usermessage.aspx" inherit="DTcms.Web.UI.Page.usermessage" templet="usermessage.html">
    <item path="user/message/{0}.aspx" pattern="user/message/(\w+).aspx" querystring="action=$1" />
    <item path="user/message/{0}/{1}.aspx" pattern="user/message/(\w+)/(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="usermessage_show" type="other" page="usermessage_show.aspx" inherit="DTcms.Web.UI.Page.usermessage_show" templet="usermessage_show.html">
    <item path="user/message/show-{0}.aspx" pattern="user/message/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="userpoint" type="other" page="userpoint.aspx" inherit="DTcms.Web.UI.Page.userpoint" templet="userpoint.html">
    <item path="user/point/{0}.aspx" pattern="user/point/(\w+).aspx" querystring="action=$1" />
    <item path="user/point/{0}-{1}.aspx" pattern="user/point/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useramount" type="other" page="useramount.aspx" inherit="DTcms.Web.UI.Page.useramount" templet="useramount.html">
    <item path="user/amount/{0}.aspx" pattern="user/amount/(\w+).aspx" querystring="action=$1" />
    <item path="user/amount/{0}-{1}.aspx" pattern="user/amount/(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="useraddress" type="other" page="useraddress.aspx" inherit="DTcms.Web.UI.Page.useraddress" templet="useraddress.html">
    <item path="user/address.aspx" pattern="user/address.aspx" />
    <item path="user/address-{0}.aspx" pattern="user/address-(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="useraddress_edit" type="other" page="useraddress_edit.aspx" inherit="DTcms.Web.UI.Page.useraddress_edit" templet="useraddress_edit.html">
    <item path="user/address/{0}.aspx" pattern="user/address/(\w+).aspx" querystring="action=$1" />
    <item path="user/address/{0}-{1}.aspx" pattern="user/address/(\w+)-(\d+).aspx" querystring="action=$1^id=$2" />
  </rewrite>
  <rewrite name="userorder" type="other" page="userorder.aspx" inherit="DTcms.Web.UI.Page.userorder" templet="userorder.html">
    <item path="user/order-{0}.aspx" pattern="user/order-(\w+).aspx" querystring="action=$1" />
    <item path="user/order-{0}-{1}.aspx" pattern="user/order-(\w+)-(\w+).aspx" querystring="action=$1^page=$2" />
  </rewrite>
  <rewrite name="userorder_show" type="other" page="userorder_show.aspx" inherit="DTcms.Web.UI.Page.userorder_show" templet="userorder_show.html">
    <item path="user/order/show-{0}.aspx" pattern="user/order/show-(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="feedback" type="plugin" page="feedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="feedback.html">
    <item path="feedback.aspx" pattern="feedback.aspx" />
    <item path="feedback/{0}.aspx" pattern="feedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="mfeedback" type="plugin" page="mfeedback.aspx" inherit="DTcms.Web.Plugin.Feedback.feedback" templet="mfeedback.html">
    <item path="mfeedback.aspx" pattern="mfeedback.aspx" />
    <item path="mfeedback/{0}.aspx" pattern="mfeedback/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="link" type="plugin" page="link.aspx" inherit="DTcms.Web.Plugin.Link.link" templet="link.html">
    <item path="link.aspx" pattern="link.aspx" />
  </rewrite>
  <rewrite name="new_trend" type="list" page="new_trend.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="new_trend.html" channel="trend" pagesize="50">
    <item path="new_trend/{0}.aspx" pattern="new_trend/(\d+).aspx" querystring="category_id=$1" />
    <item path="new_trend/{0}/{1}.aspx" pattern="new_trend/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="new_trend_show" type="detail" page="new_trend_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="new_trend_show.html" channel="trend">
    <item path="new_trend_show/{0}.aspx" pattern="new_trend_show/(\w+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="my_case" type="index" page="my_case.aspx" inherit="DTcms.Web.UI.Page.article" templet="my_case.html" channel="myproducts" />
  <rewrite name="my_service" type="detail" page="my_service.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="my_service.html" channel="my_service">
    <item path="my_service/{0}.aspx" pattern="my_service/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="news_list" type="list" page="news_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="news_list.html" channel="news" pagesize="10">
    <item path="news_list/{0}.aspx" pattern="news_list/(\d+).aspx" querystring="category_id=$1" />
    <item path="news_list/{0}/{1}.aspx" pattern="news_list/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="news_show" type="detail" page="news_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="news_show.html" channel="news">
    <item path="news_show/{0}.aspx" pattern="news_show/(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="case_show" type="detail" page="case_show.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="case_show.html" channel="case">
    <item path="case/{0}.aspx" pattern="case/(\d+).aspx" querystring="id=$1" />
  </rewrite>
  <rewrite name="case_list" type="list" page="case_list.aspx" inherit="DTcms.Web.UI.Page.article_list" templet="case_list.html" channel="case" pagesize="100">
    <item path="case_list/{0}.aspx" pattern="case_list/(\d+).aspx" querystring="category_id=$1" />
    <item path="case_list/{0}/{1}.aspx" pattern="case_list/(\d+)/(\w+).aspx" querystring="category_id=$1^page=$2" />
  </rewrite>
  <rewrite name="case" type="index" page="case.aspx" inherit="DTcms.Web.UI.Page.article" templet="case.html" channel="case" />
  <rewrite name="content" type="detail" page="content.aspx" inherit="DTcms.Web.UI.Page.article_show" templet="content.html" channel="content">
    <item path="content/{0}.aspx" pattern="content/(\w+).aspx" querystring="page=$1" />
  </rewrite>
  <rewrite name="webchat_site" type="index" page="webchat_site.aspx" inherit="DTcms.Web.UI.Page.article" templet="webchat_site.html" channel="content" />
  <rewrite name="business" type="index" page="business.aspx" inherit="DTcms.Web.UI.Page.article" templet="business.html" channel="content" />
  <rewrite name="e-commerce" type="index" page="e-commerce.aspx" inherit="DTcms.Web.UI.Page.article" templet="e-commerce.html" channel="content" />
  <rewrite name="webchat_custom" type="index" page="webchat_custom.aspx" inherit="DTcms.Web.UI.Page.article" templet="webchat_custom.html" channel="content" />
  <rewrite name="software_custom" type="index" page="software_custom.aspx" inherit="DTcms.Web.UI.Page.article" templet="software_custom.html" channel="content" />
  <rewrite name="about" type="index" page="about.aspx" inherit="DTcms.Web.UI.Page.article" templet="about.html" channel="content" />
  <rewrite name="map" type="index" page="map.aspx" inherit="DTcms.Web.UI.Page.article" templet="map.html" channel="content" />
  <rewrite name="privacy" type="index" page="privacy.aspx" inherit="DTcms.Web.UI.Page.article" templet="privacy.html" channel="content" />
  <rewrite name="law" type="index" page="law.aspx" inherit="DTcms.Web.UI.Page.article" templet="law.html" channel="content" />
</urls>