/*Reuse*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { padding: 0; margin: 0; }
fieldset, img { border: 0px; vertical-align: top; }
address, caption, cite, code, dfn, em, th, var { font-weight: normal; font-style: normal }
strong, b { font-weight: bold; }
ol, ul, li { list-style: none }
caption, th { text-align: left }
body {font-family:Arial,"Microsoft YaHei"; min-width: 1120px; }
abbr, acronym { border: 0 }
blockquote { color: #666; font-style: italic; }
sup, sub { line-height: 0 }
abbr, acronym { border-bottom: 1px dotted #666 }
pre { white-space: pre; }
pre, code, tt { font: 12px 'andale mono', 'lucida console', monospace; line-height: 1.5 }
h1 { font-size: 36px }
h2 { font-size: 30px }
h3 { font-size: 24px }
h4 { font-size: 18px }
h5 { font-size: 14px }
h6 { font-size: 12px }
/*Container*/
.container_24 { margin-left: auto; margin-right: auto; width: 960px; }
.container_25 { margin-left: auto; margin-right: auto; width: 1000px; }
.container_26 { margin-left: auto; margin-right: auto; width: 1040px; }
.container_27 { margin-left: auto; margin-right: auto; width: 1080px; }
.container_28 { margin-left: auto; margin-right: auto; width: 1120px; }
.container_29 { margin-left: auto; margin-right: auto; width: 1160px; }
.container_30 { margin-left: auto; margin-right: auto; width: 1200px; }
.container_31 { margin-left: auto; margin-right: auto; width: 1240px; }
.container_32 { margin-left: auto; margin-right: auto; width: 1280px; }
/*Grid*/
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24, .grid_25, .grid_26, .grid_27, .grid_28, .grid_29, .grid_30 { display: inline; float: left; margin-left: 5px; margin-right: 5px; }
.grid_1 { width: 30px }
.grid_2 { width: 70px }
.grid_3 { width: 110px }
.grid_4 { width: 150px }
.grid_5 { width: 190px }
.grid_6 { width: 230px }
.grid_7 { width: 270px }
.grid_8 { width: 310px }
.grid_9 { width: 350px }
.grid_10 { width: 390px }
.grid_11 { width: 430px }
.grid_12 { width: 470px }
.grid_13 { width: 510px }
.grid_14 { width: 550px }
.grid_15 { width: 590px }
.grid_16 { width: 630px }
.grid_17 { width: 670px }
.grid_18 { width: 710px }
.grid_19 { width: 750px }
.grid_20 { width: 790px }
.grid_21 { width: 830px }
.grid_22 { width: 870px }
.grid_23 { width: 910px }
.grid_24 { width: 950px }
.grid_25 { width: 990px; }
.grid_26 { width: 1030px; }
.grid_27 { width: 1070px; }
.grid_28 { width: 1110px; }
.grid_29 { width: 1150px; }
.grid_30 { width: 1190px; }
.grid_31 { width: 1230px; }
.grid_32 { width: 1270px; }
/*Global*/
.clear { display: block; visibility: hidden; overflow: hidden; width: 0; height: 0 }
.position_relative { position: relative; }
.position_absolute { position: absolute; }
.float_left { float: left; }
.float_right { float: right; }
.overflow_hidden { overflow: hidden; }
/*TextBase*/
.line_height_150 { line-height: 150%; }
.line_height_200 { line-height: 200%; }
.line_height_250 { line-height: 250%; }
.paragraph { line-height: 1.6; }
.text_left { text-align: left; }
.text_right { text-align: right; }
.text_center { text-align: center; }
/*FontColor*/
.color_red { color: #C00; }
.color_write { color: #FFF; }
.color_black { color: #000; }
.color_999 { color: #999; }
.color_666 { color: #666; }
.color_333 { color: #333; }
/*FontSize*/
.size_12 { font-size: 12px; }
.size_13 { font-size: 13px; }
.size_14 { font-size: 14px; }
.size_15 { font-size: 15px; }
.size_16 { font-size: 16px; }
.size_17 { font-size: 17px; }
.size_18 { font-size: 18px; }
.size_19 { font-size: 19px; }
.size_20 { font-size: 20px; }
.size_21 { font-size: 21px; }
.size_22 { font-size: 22px; }
.size_23 { font-size: 23px; }
.size_24 { font-size: 24px; }
.size_25 { font-size: 25px; }
/*BlockMargin*/
.margin_left_0 { margin-left: 0; }
.margin_left_5 { margin-left: 5px; }
.margin_left_10 { margin-left: 10px; }
.margin_left_15 { margin-left: 15px; }
.margin_left_20 { margin-left: 20px; }
.margin_left_25 { margin-left: 25px; }
.margin_left_30 { margin-left: 30px; }
.margin_left_35 { margin-left: 35px; }
.margin_left_40 { margin-left: 40px; }
.margin_left_45 { margin-left: 45px; }
.margin_left_50 { margin-left: 50px; }
.margin_left_55 { margin-left: 55px; }
.margin_left_60 { margin-left: 60x; }
.margin_left_65 { margin-left: 65px; }
.margin_left_70 { margin-left: 70px; }
.margin_left_75 { margin-left: 75px; }
.margin_left_80 { margin-left: 80px; }
.margin_left_85 { margin-left: 85px; }
.margin_left_90 { margin-left: 90px; }
.margin_left_95 { margin-left: 95px; }
.margin_left_100 { margin-left: 100px; }
.margin_left_105 { margin-left: 105px; }
.margin_left_110 { margin-left: 110px; }
.margin_left_115 { margin-left: 115px; }
.margin_left_120 { margin-left: 120px; }
.margin_right_0 { margin-right: 0; }
.margin_right_5 { margin-right: 5px; }
.margin_right_10 { margin-right: 10px; }
.margin_right_15 { margin-right: 15px; }
.margin_right_20 { margin-right: 20px; }
.margin_right_25 { margin-right: 25px; }
.margin_right_30 { margin-right: 30px; }
.margin_right_35 { margin-right: 35px; }
.margin_right_40 { margin-right: 40px; }
.margin_right_45 { margin-right: 45px; }
.margin_right_50 { margin-right: 50px; }
.margin_right_55 { margin-right: 55px; }
.margin_right_60 { margin-right: 60x; }
.margin_right_65 { margin-right: 65px; }
.margin_right_70 { margin-right: 70px; }
.margin_right_75 { margin-right: 75px; }
.margin_right_80 { margin-right: 80px; }
.margin_right_85 { margin-right: 85px; }
.margin_right_90 { margin-right: 90px; }
.margin_right_95 { margin-right: 95px; }
.margin_right_100 { margin-right: 100px; }
.margin_right_105 { margin-right: 105px; }
.margin_right_110 { margin-right: 110px; }
.margin_right_115 { margin-right: 115px; }
.margin_right_120 { margin-right: 120px; }
.margin_top_0 { margin-top: 0; }
.margin_top_5 { margin-top: 5px; }
.margin_top_10 { margin-top: 10px; }
.margin_top_15 { margin-top: 15px; }
.margin_top_20 { margin-top: 20px; }
.margin_top_25 { margin-top: 25px; }
.margin_top_30 { margin-top: 30px; }
.margin_top_35 { margin-top: 35px; }
.margin_top_40 { margin-top: 40px; }
.margin_top_45 { margin-top: 45px; }
.margin_top_50 { margin-top: 50px; }
.margin_top_55 { margin-top: 55px; }
.margin_top_60 { margin-top: 60x; }
.margin_top_65 { margin-top: 65px; }
.margin_top_70 { margin-top: 70px; }
.margin_top_75 { margin-top: 75px; }
.margin_top_80 { margin-top: 80px; }
.margin_top_85 { margin-top: 85px; }
.margin_top_90 { margin-top: 90px; }
.margin_top_95 { margin-top: 95px; }
.margin_top_100 { margin-top: 100px; }
.margin_top_105 { margin-top: 105px; }
.margin_top_110 { margin-top: 110px; }
.margin_top_115 { margin-top: 115px; }
.margin_top_120 { margin-top: 120px; }
.margin_bottom_0 { margin-bottom: 0; }
.margin_bottom_5 { margin-bottom: 5px; }
.margin_bottom_10 { margin-bottom: 10px; }
.margin_bottom_15 { margin-bottom: 15px; }
.margin_bottom_20 { margin-bottom: 20px; }
.margin_bottom_25 { margin-bottom: 25px; }
.margin_bottom_30 { margin-bottom: 30px; }
.margin_bottom_35 { margin-bottom: 35px; }
.margin_bottom_40 { margin-bottom: 40px; }
.margin_bottom_45 { margin-bottom: 45px; }
.margin_bottom_50 { margin-bottom: 50px; }
.margin_bottom_55 { margin-bottom: 55px; }
.margin_bottom_60 { margin-bottom: 60x; }
.margin_bottom_65 { margin-bottom: 65px; }
.margin_bottom_70 { margin-bottom: 70px; }
.margin_bottom_75 { margin-bottom: 75px; }
.margin_bottom_80 { margin-bottom: 80px; }
.margin_bottom_85 { margin-bottom: 85px; }
.margin_bottom_90 { margin-bottom: 90px; }
.margin_bottom_95 { margin-bottom: 95px; }
.margin_bottom_100 { margin-bottom: 100px; }
.margin_bottom_105 { margin-bottom: 105px; }
.margin_bottom_110 { margin-bottom: 110px; }
.margin_bottom_115 { margin-bottom: 115px; }
.margin_bottom_120 { margin-bottom: 120px; }
.padding_left_0 { padding-left: 0; }
.padding_left_5 { padding-left: 5px; }
.padding_left_10 { padding-left: 10px; }
.padding_left_15 { padding-left: 15px; }
.padding_left_20 { padding-left: 20px; }
.padding_left_25 { padding-left: 25px; }
.padding_left_30 { padding-left: 30px; }
.padding_left_35 { padding-left: 35px; }
.padding_left_40 { padding-left: 40px; }
.padding_left_45 { padding-left: 45px; }
.padding_left_50 { padding-left: 50px; }
.padding_left_55 { padding-left: 55px; }
.padding_left_60 { padding-left: 60x; }
.padding_left_65 { padding-left: 65px; }
.padding_left_70 { padding-left: 70px; }
.padding_left_75 { padding-left: 75px; }
.padding_left_80 { padding-left: 80px; }
.padding_left_85 { padding-left: 85px; }
.padding_left_90 { padding-left: 90px; }
.padding_left_95 { padding-left: 95px; }
.padding_left_100 { padding-left: 100px; }
.padding_left_105 { padding-left: 105px; }
.padding_left_110 { padding-left: 110px; }
.padding_left_115 { padding-left: 115px; }
.padding_left_120 { padding-left: 120px; }
.padding_right_0 { padding-right: 0; }
.padding_right_5 { padding-right: 5px; }
.padding_right_10 { padding-right: 10px; }
.padding_right_15 { padding-right: 15px; }
.padding_right_20 { padding-right: 20px; }
.padding_right_25 { padding-right: 25px; }
.padding_right_30 { padding-right: 30px; }
.padding_right_35 { padding-right: 35px; }
.padding_right_40 { padding-right: 40px; }
.padding_right_45 { padding-right: 45px; }
.padding_right_50 { padding-right: 50px; }
.padding_right_55 { padding-right: 55px; }
.padding_right_60 { padding-right: 60x; }
.padding_right_65 { padding-right: 65px; }
.padding_right_70 { padding-right: 70px; }
.padding_right_75 { padding-right: 75px; }
.padding_right_80 { padding-right: 80px; }
.padding_right_85 { padding-right: 85px; }
.padding_right_90 { padding-right: 90px; }
.padding_right_95 { padding-right: 95px; }
.padding_right_100 { padding-right: 100px; }
.padding_right_105 { padding-right: 105px; }
.padding_right_110 { padding-right: 110px; }
.padding_right_115 { padding-right: 115px; }
.padding_right_120 { padding-right: 120px; }
.padding_top_0 { padding-top: 0; }
.padding_top_5 { padding-top: 5px; }
.padding_top_10 { padding-top: 10px; }
.padding_top_15 { padding-top: 15px; }
.padding_top_20 { padding-top: 20px; }
.padding_top_25 { padding-top: 25px; }
.padding_top_30 { padding-top: 30px; }
.padding_top_35 { padding-top: 35px; }
.padding_top_40 { padding-top: 40px; }
.padding_top_45 { padding-top: 45px; }
.padding_top_50 { padding-top: 50px; }
.padding_top_55 { padding-top: 55px; }
.padding_top_60 { padding-top: 60x; }
.padding_top_65 { padding-top: 65px; }
.padding_top_70 { padding-top: 70px; }
.padding_top_75 { padding-top: 75px; }
.padding_top_80 { padding-top: 80px; }
.padding_top_85 { padding-top: 85px; }
.padding_top_90 { padding-top: 90px; }
.padding_top_95 { padding-top: 95px; }
.padding_top_100 { padding-top: 100px; }
.padding_top_105 { padding-top: 105px; }
.padding_top_110 { padding-top: 110px; }
.padding_top_115 { padding-top: 115px; }
.padding_top_120 { padding-top: 120px; }
.padding_bottom_0 { padding-bottom: 0; }
.padding_bottom_5 { padding-bottom: 5px; }
.padding_bottom_10 { padding-bottom: 10px; }
.padding_bottom_15 { padding-bottom: 15px; }
.padding_bottom_20 { padding-bottom: 20px; }
.padding_bottom_25 { padding-bottom: 25px; }
.padding_bottom_30 { padding-bottom: 30px; }
.padding_bottom_35 { padding-bottom: 35px; }
.padding_bottom_40 { padding-bottom: 40px; }
.padding_bottom_45 { padding-bottom: 45px; }
.padding_bottom_50 { padding-bottom: 50px; }
.padding_bottom_55 { padding-bottom: 55px; }
.padding_bottom_60 { padding-bottom: 60x; }
.padding_bottom_65 { padding-bottom: 65px; }
.padding_bottom_70 { padding-bottom: 70px; }
.padding_bottom_75 { padding-bottom: 75px; }
.padding_bottom_80 { padding-bottom: 80px; }
.padding_bottom_85 { padding-bottom: 85px; }
.padding_bottom_90 { padding-bottom: 90px; }
.padding_bottom_95 { padding-bottom: 95px; }
.padding_bottom_100 { padding-bottom: 100px; }
.padding_bottom_105 { padding-bottom: 105px; }
.padding_bottom_110 { padding-bottom: 110px; }
.padding_bottom_115 { padding-bottom: 115px; }
.padding_bottom_120 { padding-bottom: 120px; }
/*table*/
.table { width: 100%; max-width: 100%; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { padding: 8px; line-height: 1.45; vertical-align: top; border-top: 1px solid #ddd }
.table>thead>tr>th { vertical-align: bottom; border-bottom: 2px solid #ddd }
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th { border-top: 0 }
.table>tbody+tbody { border-top: 2px solid #ddd }
.table .table { background-color: #fff }
.table_border { border: 1px solid #ddd }
.table_border>tbody>tr>td, .table_border>tbody>tr>th, .table_border>tfoot>tr>td, .table_border>tfoot>tr>th, .table_border>thead>tr>td, .table_border>thead>tr>th { border: 1px solid #ddd }
.table_border>thead>tr>td, .table_border>thead>tr>th { border-bottom-width: 2px }
